#home {
    height: 1390px;
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
    color: white;
    overflow: hidden;
    max-width: 100%;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  

.intro {
    margin-top: 150px;
    padding-left: 130px;
}

.intro > label {
    font-size: xx-large;
}

.intro > p {
    font-size: larger;
}

.name {
    font-size: 1.6em;
    font-weight: bolder;
}

.button {
    margin-top: 30px;
}

.button > a {
    background: rgb(0, 140, 255);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid rgb(0, 140, 255);
}

.button > a:hover {
    transition: .3s;
    background: #1a1a1a;
    color: white;
    border: 1px solid rgb(0, 140, 255);
}


#about {
    height: 1300px;
    display: flex;
    background-color: white;
}

.about-info {
    margin-top: 150px;
    margin-left: 130px;
    font-size: larger;
    width: 50%;
}

.about-info > label {
    font-size: 1.5em;
    font-weight: bolder;
}

.about-info > p > a {
    text-decoration: none;
    color: #0275D8;
}

.skills-info {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: larger;
    width: 50%;
}

.skills-header {
    font-size: 1.5em;
    font-weight: bolder;
}

.lang-and-fw {
    font-weight: bold;
}

.languages {
    display: flex;
    flex-direction: column;
}

.frameworks {
    display: flex;
    flex-direction: column;
}

.proficient-row {
    display: flex;
    flex-wrap: wrap;
}

.intermediate-row {
    display: flex;
    flex-wrap: wrap;
}

.beginner-row {
    display: flex;
    flex-wrap: wrap;
}



.proficient {
    text-align: center;
    font-weight: bold;
    background-color: #4DECBC26;
    margin-right: 10px;
    padding: 4px;
    margin-top: 6px;
    border-radius: 4px;
    border: 2px solid green;
}


.intermediate {
    text-align: center;
    font-weight: bold;
    background-color: #DBDCA826;
    margin-right: 10px;
    padding: 4px;
    margin-top: 6px;
    border-radius: 4px;
    border: 2px solid rgb(170, 170, 0);
}

.beginner {
    text-align: center;
    font-weight: bold;
    background-color: #B6BBBB26;
    margin-right: 10px;
    padding: 4px;
    margin-top: 6px;
    border-radius: 4px;
    border: 2px solid gray;
}

.parallax {
    background: url('./img/computer.jpg') !important;
    height: 500px !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    filter: brightness(40%) !important;
}

#projects {
    height: 1200px;
    background-color: white;
    color: black;
}

.projects-header {  
    padding-top: 150px;
    font-size: 1.5em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects > .app {
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.app > img {
    width: 270px;
    object-fit: contain;
}

.app > label {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bolder;
    margin-bottom: 10px;
}

.tech-used {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tool {
    text-align: center;
    font-weight: bold;
    background-color: #F1FAEEDB;
    margin-right: 10px;
    padding: 4px;
    margin-top: 6px;
    border-radius: 4px;
    border: 2px solid #00a1a7;
}

.ending-msg {
    text-align: center;
    padding-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .parallax {
        display: none;
    }

    .intro {
        padding-left: 100px;
        padding-right: 100px;
    }

    #about {
        flex-direction: column;
    }

    .skills-info {
        width: 70%;
        margin-top: 50px;
        margin-right: 80px;
        margin-left: 75px;
    }

    .about-info {
        width: 70%;
        margin-right: 80px;
        margin-left: 75px;
    }
}


@media (min-width: 481px) and (max-width: 767px) {

    .parallax {
        display: none;
    }

    .intro {
        padding-left: 100px;
        padding-right: 100px;
    }

    #about {
        flex-direction: column;
    }

    .skills-info {
        width: 70%;
        margin-top: 50px;
        margin-right: 80px;
        margin-left: 65px;
    }

    .about-info {
        width: 70%;
        margin-right: 80px;
        margin-left: 70px;
    }
}


@media (min-width: 320px) and (max-width: 480px) {

    .parallax {
        display: none;
    }

    .intro {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }


    .button > a {
        text-align: center;
    }
    #about {
        flex-direction: column;
    }

    .skills-info {
        width: 81%;
        margin-top: 50px;
        margin-right: 80px;
        margin-left: 50px;
    }

    .about-info {
        width: 70%;
        margin-left: 50px;
    }

    .projects > .app {
        padding: 23px;
    }
}

@media (min-width: 51px) and (max-width: 319px) {
    .parallax {
        display: none;
    }

    .intro {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }


    .button > a {
        text-align: center;
    }
    #about {
        flex-direction: column;
    }

    .skills-info {
        width: 81%;
        margin-top: 50px;
        margin-right: 80px;
        margin-left: 50px;
    }

    .about-info {
        width: 70%;
        margin-left: 50px;
    }

    .projects > .app {
        padding: 0px;
    }
}