#home {
    height: 1300px;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    color: white;
    width: 100%;

}

.intro {
    margin-top: 150px;
    padding-left: 130px;
    padding-right: 100px;
    font-size: larger;
}

.name {
    font-size: 1.6em;
    font-weight: bolder;
}

.button {
    margin-top: 30px;
}

.button > a {
    background: rgb(0, 140, 255);
    padding: 10px;
    margin-left: 130px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid rgb(0, 140, 255);
}

.button > a:hover {
    transition: .3s;
    background: #1a1a1a;
    color: white;
    border: 1px solid rgb(0, 140, 255);
}


#about {
    height: 1300px;
    display: flex;

}

.about-info {
    margin-top: 150px;
    margin-left: 100px;
    font-size: larger;
    width: 50%;
}

.about-info > label {
    font-size: 1.5em;
    font-weight: bolder;
}

.about-info > p > a {
    text-decoration: none;
    color: #0275D8;
}

.skills-info {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: larger;
    width: 50%;
}

.skills-header {
    font-size: 1.5em;
    font-weight: bolder;
}

.lang-and-fw {
    font-weight: bold;
}

.languages {
    display: flex;
    flex-wrap: wrap;
}

.frameworks {
    display: flex;
    flex-wrap: wrap;
}



.proficient {
    text-align: center;
    font-weight: bold;
    background-color: #4DECBC26;
    margin-right: 10px;
    padding: 4px;
    margin-top: 6px;
    border-radius: 4px;
    border: 2px solid green;
}

.intermediate {
    text-align: center;
    font-weight: bold;
    background-color: #DBDCA826;
    margin-right: 10px;
    padding: 4px;
    margin-top: 6px;
    border-radius: 4px;
    border: 2px solid rgb(170, 170, 0);
}

@media (min-width: 481px) and (max-width: 768px) {

    .intro {
        padding-left: 100px;
        padding-right: 100px;
    }

    .button > a {
        margin-left: 100px;
    }
    #about {
        flex-direction: column;
    }

    .skills-info {
        width: 70%;
        margin-top: 50px;
        margin-right: 80px;
        margin-left: 80px;
    }

    .about-info {
        width: 70%;
        margin-right: 80px;
        margin-left: 80px;
    }
}