.contact {
  padding-top: 130px;
}

.contact-header-info {
  text-align: center;
}

.contact-links {
  text-align: center;
}

.box {
  margin-top: 10px;
  margin-bottom: 25px;
}

.box a {
  font-size: 1.5em;
  color: black;
  border: 1px solid gray;
  padding: 6px;
  border-radius: 6px;
  background: white;
}

.box a:hover {
  background: #1a1a1a;
  border: 1px solid #1a1a1a;
  color: white;
  transition: 0.3s ease;
}
