.navbar {
    background-color: #1A1a1a;
    height: 80px;
    color: white;
    width: 100%;
    z-index: 100;
    position: fixed;
}

.menu {
    display: none;
}

.logo {
    float: left;
    font-size: larger;
    margin-left: 130px;
    margin-top: 27px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    margin-right: 130px;
    display: flex;
    margin-top: 30px;
}

li {
    padding-left: 40px;
}

li > a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

li > a:hover {
    color: rgb(0, 140, 255);
    transition: .3s;
}

.bars {
    display: none;
    cursor: pointer;
}



/* Tablets */

@media (min-width: 768px) and (max-width: 1024px) {
    ul {
        display: none;
    }

    .bars {
        display: initial;
        margin-right: 130px;
        margin-top: 33px;
    }

    .menu {
        display: initial;
    }
}

@media (min-width: 481px) and (max-width: 767px){


    ul {
        display: none;
    }

    .bars {
        display: initial;
        margin-right: 130px;
        margin-top: 33px;
    }

    .menu {
        display: initial;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .logo {
        margin-left: 50px;
    }
    ul {
        display: none;
    }

    .bars {
        display: initial;
        margin-right: 70px;
        margin-top: 33px;
    }

    .menu {
        display: initial;
    }



}